* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #897cde;
  background: linear-gradient(
    90deg,
    rgba(137, 124, 222, 1) 2%,
    rgba(9, 9, 121, 1) 37%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  background: #fff;
  height: 70%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 500px;
  text-align: center;
}
.main img {
  flex: 1;
  background: url("image.png") no-repeat center center;
  background-size: cover;

  width: 450px;
  height: 80px;
  border-radius: 10px;
}
.main h1 {
  padding-top: 10px;
  margin-bottom: 10px;
  color: solid black;
}

.main input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.main button {
  width: 100%;
  padding: 10px;
  background: #5671f8;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.main p {
  padding-top: 15px;
}
.main button:hover {
  background: #3e5cf3;
}
