* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #897cde;
  background: linear-gradient(
    90deg,
    rgba(137, 124, 222, 1) 2%,
    rgba(9, 9, 121, 1) 37%,
    rgba(0, 212, 255, 1) 100%
  );
  color: rgb(5, 4, 4);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 20px;
}
.main h1 {
  font-size: 60px;
  font-weight: 500;
}

.main h2 {
  font-size: 50px;
  padding: 10px 20px;
  text-align: center;
  gap: 20px;
  font-weight: 500;
}
.main p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}
.btn {
  background: #5671f8;
  color: #fff;
  padding: 12px 25px;
  text-decoration: none;
  font-size: 1.1rem;
  border-radius: 8px;
  transition: 0.3s ease;
}

.btn:hover {
  background: #3e5cf3;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 20px;
  }

  .main h1 {
    margin-bottom: 15px;
    font-size: 40px;
  }
  .main h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 480px) {
  .main {
    padding: 15px;
  }

  .main h2 {
    padding: 5px 10px;
  }
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
