* {
  margin: o;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #897cde;
  background: linear-gradient(
    90deg,
    rgba(137, 124, 222, 1) 2%,
    rgba(9, 9, 121, 1) 37%,
    rgba(0, 212, 255, 1) 100%
  );
  font-family: sans-serif;
}
.container {
  position: relative;
  width: 1200px;
  max-width: 100%;
  height: calc(100vh - 40px);
  background: white;
  border-radius: 10px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.06);
  display: flex;
}

.container .leftSide {
  position: relative;
  flex: 30%;
  background: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.06);
}
.container .rightSide {
  position: relative;
  flex: 70%;
  background: #e5ddd5;
}
.container .rightSide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header {
  position: relative;
  width: 100%;
  height: 60px;
  background: #ededed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.userimg {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-icons {
  display: flex;
}
.nav-icons li {
  display: flex;
  list-style: none;
  cursor: pointer;
  color: #51585c;
  font-size: 1.5rem;
  margin-left: 22px;
}

.nav-icons button {
  display: flex;
  list-style: none;
  cursor: pointer;
  color: #51585c;
  font-size: 1.5rem;
  margin-left: 22px;
}

.model_container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.3);
}

.model_container.show {
  pointer-events: auto;
  opacity: 1;
}

.model {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 30px 50px;
  width: 600px;
  max-width: 100%;
  text-align: center;
}
.model h1 {
  margin: 0;
}
.model p {
  opacity: 0.7;
  font-size: 14px;
}
.model_container input {
  height: 30px;
  width: 500px;
  color: #111;
}
.closeCreateGroup {
  height: 35px;
  width: 100%;
  background: #5671f8;
  color: white;
  margin-top: 30px;
  border-radius: 20px;
}
.closeCreateGroup:hover {
  background: #3e5cf3;
}

.model_Group {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.3);
}

.model_Group.show {
  pointer-events: auto;
  opacity: 1;
}
.Group {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 30px 50px;
  width: 600px;
  max-width: 100%;
  text-align: center;
}

.Group h1 {
  margin: 0;
}
.Group p {
  opacity: 0.7;
  font-size: 14px;
}
.model_Group input {
  height: 30px;
  width: 500px;
  color: #111;
}
.createGroup {
  height: 35px;
  width: 100%;
  background: #5671f8;
  color: white;
  margin-top: 30px;
  border-radius: 20px;
  cursor: pointer;
}
.createGroup:hover {
  background: #3e5cf3;
  cursor: pointer;
}

.search-chat {
  position: relative;
  width: 100%;
  height: 50px;
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}
.search-chat div {
  width: 100%;
}
.search-chat div input {
  width: 100%;
  outline: none;
  border: none;
  background: #fff;
  padding: 6px;
  height: 36px;
  border-radius: 30px;
  font-size: 14px;
  padding-left: 40px;
}
.search-chat div input::placeholder {
  color: #bbb;
}
.search-chat div ion-icon {
  position: absolute;
  left: 30px;
  top: 15px;
  font-size: 1.2rem;
}
.chatlist {
  position: relative;
  height: calc(100% - 110px);
  overflow-y: auto;
}
.chatlist .block {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.chatlist .block.active {
  background: #f5f5f5;
}
.chatlist .block:hover {
  background: #ebebeb;
}

.chatlist .block .imgbx {
  position: relative;
  min-width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}
.chatlist .block .details {
  position: relative;
  width: 100%;
}
.chatlist .block .details .listHead {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.chatlist .block .details .listHead h4 {
  font-size: 1rem;
  font-weight: 600;
  color: #111;
  margin: 0;
}
.chatlist .block .details .listHead .time {
  font-size: 0.7rem;
  color: #aaa;
}
.chatlist .block .details .listHead .time {
  color: #111;
}
.chatlist .block.unread .details .listHead .time {
  color: #06d755;
}
.message-p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.message-p p {
  color: #aaa;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  font-size: 0.9rem;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
.message-p b {
  background: #06d755;
  color: #fff;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
}

.imgText {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgText h4 {
  font-weight: 500;
  line-height: 1.2em;
  margin-left: 15px;
}

.imgText h4 span {
  font-size: 0.8em;
  color: #555;
}

/* chat box */
.chatB0x {
  position: relative;
  width: 100%;
  height: calc(100% - 120px);
  padding: 50px;
  overflow-y: auto;
}

.message {
  position: relative;
  display: flex;
  width: 100%;
  margin: 5px 0;
}
.message p {
  position: relative;
  right: 0;
  text-align: right;
  max-width: 65px;
  padding: 12px;
  background: #dcf8c6;
  border-radius: 10px;
  font-size: 0.8em;
}
.message p::before {
  content: "";
  position: absolute;
  top: 0;
  right: -12px;
  width: 20px;
  height: 20px;
  background: linear-gradient(
    135deg,
    #dcf8c6 0%,
    #dcf8c6 50%,
    transparent 50%,
    transparent
  );
}

.message p span {
  display: block;
  margin-top: 5px;
  font-size: 0.85em;
  opacity: 0.5;
}
.my_message {
  justify-content: flex-end;
}
.frnd_message {
  justify-content: flex-start;
}
.frnd_message p {
  background: #fff;
  text-align: left;
}

.message.frnd_message p::before {
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  width: 20px;
  height: 20px;
  background: linear-gradient(
    225deg,
    #fff 0%,
    #fff 50%,
    transparent 50%,
    transparent
  );
}

.chatbox_input {
  position: relative;
  width: 100%;
  height: 60px;
  background: #f0f0f0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chatbox_input ion-icon {
  cursor: pointer;
  font-size: 1.8em;
  color: #51585c;
}
.chatbox_input ion-icon:nth-child(1) {
  margin-right: 15px;
}

.chatbox_input input {
  position: relative;
  width: 90%;
  margin: 0 20px;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 1em;
}
